# firmware
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
.dep/

*.pyc


#vim swap files
.*.swp

# Ignore Mercurial files pulled down by go get
.hg

pkg
bin
.sass-cache
node_modules

os/entire_disk.img.bz2

