<div ng-controller="SensorCtrl" class="sensor">
    <div class="container">
        <h1>{{sensor.name}}</h1>
        <div class="current_conditions">
            <div><b>Air Temp</b>:&nbsp;{{current.head_temp}}</div>
            <div><b>Snow Temp</b>:&nbsp;{{current.surface_temp}}</div>
            <div><b>Snow Depth</b>:&nbsp;{{current.snow_depth}}</div>
            <div><b>Updated</b>:&nbsp;{{current.timestamp}}</div>
        </div>
        <img class="webcam" ng-src="{{sensor.webcam_url}}">
    </div>
    <div id="dashboard" style='width:100%'>
        <div id="chart" style='height: 400px;'></div>
        <div id="control" style='height: 75px;'></div>
    </div>
</div>
