<div ng-controller="SensorCtrl" class="sensor">
    <div class="container">
        <h1>{{sensor.name}}</h1>
        <dl class="current_conditions dl-horizontal">
            <div ng-if='!readings[0].station_temp'>
                <dt>Air Temp</dt>
                <dd>
                <span>{{readings[0].ambient_temp|number:1}}&deg;C</span>
                <span>{{readings[0].ambient_temp|c2f|number:1}}&deg;F</span>
                </dd>
            </div>
            <div ng-if='readings[0].station_temp'>
                <dt>Weather Station</dt>
                <dd>
                    <span>{{readings[0].station_temp|number:1}}&deg;C</span>
                    <span>{{readings[0].station_temp|c2f|number:1}}&deg;F</span>
                </dd>
            </div>
            <dt>Snow Temp</dt>
            <dd>
                <span>{{readings[0].surface_temp|number:1}}&deg;C</span>
                <span>{{readings[0].surface_temp|c2f|number:1}}&deg;F</span>
            </dd>
            <dt>Snow Depth</dt>
            <dd>
                <span>{{readings[0].snow_depth|number:1}}cm</span>
                <span>{{readings[0].snow_depth|cm2in|number:1}}in</span>
            </dd>
            <dt>Updated</dt>
            <dd>{{readings[0].timestamp|date:"medium"}}</dd>
        </dl>
        <img class="webcam" ng-src="{{webcam_url}}">
    </div>
    <div id="dashboard" style='width:100%'>
        <div id="chart" style='height: 400px;'></div>
        <div id="control" style='height: 75px;'></div>
    </div>
</div>
